body{
	margin:1%;
	font-size:125%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-size: 2.5em; 
	font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #9900CC;
    border-radius: 9px;
}

.active{
    text-transform: uppercase;
	text-align: center;
    color: #000;
    background: #9900CC;
    text-decoration: dotted underline;
}


.active a{
	text-decoration: dotted underline;
    color: #ECFF4D;
} 

/*Style the images*/
/* img{
    height: 150px;
	width:auto;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 20px;
    margin: 5px;
	margin-left: 10%
} */

h2{
	font-size: 1.75em; 
	font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

p, h1, h2, h3, li {
    padding: 5px;
}

ul {
    text-align: center;
    /* border: 10px 15px 10px 15px; */
}

ol {
    padding: 25px 0px 25px 35px;
}

header, nav, main, footer{
	border: 3px solid #9900CC;
    border-radius: 9px;
	margin: 10px;
}


/*Change the styling for all of the list 
items in the nav section*/
nav ul li{
	background-color: #ECFF4D;
	padding:5px;
	font-size: 80%;
	border:1px solid black;
	display: inline-block;
	width: 23%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Added this so the links stay the same color*/
/*
a:visited{
    color:#0000ff;
} */

/* SKIP TO MAIN */

.stmc {
    background: #ECFF4D;
    height: 30px;
    left: -100%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
  
.stmc:focus {
    transform: translateY(0%);
    left: 0%;
}

/* GRID */

.grid-container {
    display: grid;
    /*align-items: center;*/
}

.bacon-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
     /*align-items: center;*/
}

.fitz-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center; */
}

.sage-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center; */
}

.lulu-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center; */
}

.rocket-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center; */
}

.zucchini-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
}

.curry-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
}

.blat-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
}

img {
    max-height: 100%;
    /* max-height: 200%; */
    max-width: 100%;
    /* max-width: 200% */
}

video {
    /* max-height: 75%; */
    min-width: 100%;
} 

/* NEW CONTENT ADDED FOR COLLAPSIBLE NAV MENU  */

.collapsible-menu {
    visibility: hidden;
    position: absolute;
}

/* 
Media Query pulled from this site, still not solid on these:
https://css-tricks.com/introduction-reduced-motion-media-query/ 
*/

@media (prefers-reduced-motion: reduce) {
    .vid {
      animation: none;
    }
}

@media screen and (min-width: 800px) {
    
    img {
        /* max-height: 100%; */
        /* max-height: 200%; */
        min-width: 100%;
        /* max-width: 200% */
        border: solid #9900CC 3px;
        border-radius: 9px;
        /* margin: 10px 10px 10px 10px; */
    }
    
    video {
        /* max-height: 75%; */
        max-width: 100%;
        border: solid #9900CC 3px;
        border-radius: 9px;
    } 

    body{
        background-color: #B8B8B8;
    }

    /* COLLAPSIBLE NAV MENU  */
    
    .menu-content {
        max-height: 0;
        overflow: hidden;
    }

    .collapsible-menu {
        visibility: visible;
        background-color: #ECFF4D;
        position: static;
    }

    .collapsible-menu ul {
        list-style-type: none;
        padding: 0;
    }

    .collapsible-menu li {
        border: solid 3px #9900CC;
    }

    .collapsible-menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
    }

    .collapsible-menu label {
        font-size: 150%;
        display: block;
        cursor: pointer;
        padding: 10px 10px 10px 10px;
        border: solid 3px #9900CC;
    }

    input#menu {
        display: none;
    }

    input:checked ~ .menu-content {
        max-height: 100%;
    }

    /* HIDING OLD NAV ELEMENTS  */

    nav ul li, nav{
        display: none;
    }
}